{% extends "base.html" %}
{% load extras %}
{% block sidebar %}

{% endblock %}
{% block content %}
<h1>This is {{analysis_type}}analysis page</h1>
<table>
	 <thead>
        <tr>
            <th>NAME</th>
            <th>CODE</th>
            <th>INIT PRICE</th>
            <th>INIT DATE</th>
            <th>DAYS</th>
            <th>CUR PRICE</th>
            <th>DIFF</th>
        </tr>
    </thead>
{% for share in shareList %}
<tr>
	<td>{{share.name}}</td>
	<td>{{share.code}}</td>
	<td>{{share.init_price}}</td>
	<td>{{share.drv_date}}</td>
	<td>{{share.getDays}}</td>
	<td>{{priceDict|get:share.code}}</td>
	<td>{{priceDict|getDiff:share}}</td>
</tr>
{%endfor %}
</table>
{% endblock %}
