{% extends "base.html" %}
{% block sidebar %}
<ul>
	<li><a href="/analysis/R3I">R3I</a></li>
	<li><a href="/analysis/R10T">R10T</a></li>
</ul>
{% endblock %}
{% block content %}
<h1>This is Main page</h1>
<table>
	<caption>COSPI</caption>
	<thead>
		<tr>
			<th>종합지수</th>
			<th>전일지수</th>
			<th>추세</th>
			<th>차이</th>
			<th>지수차이</th>
			<th>총거래량</th>
			<th>전일거래량</th>
			<th>거래량변화량</th>
			<th>거래량증감률</th>
		</tr>
	</thead>
	{% for share in cospi %}
	<tr>
		<td>{{share.pricejisu}}</td>
		<td>{{share.jniljisu}}</td>
		<td>{{share.sign}}</td>
		<td>{{share.change}}</td>
		<td>{{share.diffjisu}}</td>
		<td>{{share.volume}}</td>
		<td>{{share.jnilvolume}}</td>
		<td>{{share.volumechange}}</td>
		<td>{{share.volumerate}}</td>
	</tr>
	{%endfor%}

</table>

<table>
	<caption>COSDAQ</caption>
	<thead>
		<tr>
			<th>종합지수</th>
			<th>전일지수</th>
			<th>추세</th>
			<th>차이</th>
			<th>지수차이</th>
			<th>총거래량</th>
			<th>전일거래량</th>
			<th>거래량변화량</th>
			<th>거래량증감률</th>
		</tr>
	</thead>
	{% for share in cosdaq %}
	<tr>
		<td>{{share.pricejisu}}</td>
		<td>{{share.jniljisu}}</td>
		<td>{{share.sign}}</td>
		<td>{{share.change}}</td>
		<td>{{share.diffjisu}}</td>
		<td>{{share.volume}}</td>
		<td>{{share.jnilvolume}}</td>
		<td>{{share.volumechange}}</td>
		<td>{{share.volumerate}}</td>
	</tr>
	{%endfor%}

</table>

<table>
	<caption>Candidate stocks Recent 3 days </caption>
	<thead>
		<tr>
			<th>TYPE</th>
			<th>NAME</th>
			<th>CODE</th>
			<th>DAYS</th>
			<th>INIT PRICE</th>
			<th>NOW PRICE</th>
			<th>DIFF</th>
			<th>INIT DATE</th>
		</tr>
	</thead>
{% for share in shareList %}
<tr>
	<td>{{share.analysis_type}}</td>
	<td>{{share.name}}</td>
	<td>{{share.code}}</td>
	<td>{{share.getDays}}</td>
	<td>{{share.init_price}}</td>
	<td>{{share.now_price}}</td>
	<td>{{share.getDiffPrc}}</td>
	<td>{{share.getDate}}</td>
</tr>
{%endfor %}
</table>

{% endblock %}
